<h2>Edit user</h2>

<%= render "form.html", changeset: @changeset,
                        action: tour_guide_path(@conn, :update, @tour_guide) %>

<%= link "Back", to: landing_page_path(@conn, :index) %>
