<h2>Edit Tour</h2>

<%= render "form.html", changeset: @changeset,
                        categories: @categories,
                        action: tour_path(@conn, :update, @tour) %>

<%= link "Back", to: tour_path(@conn, :index) %>
